body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 50px;
}
#cod-para {
  margin-bottom: 30px;
}

.copy-rights{
  position: relative;
  top: 20px;
}
.contact-me{
  margin-top: 100px;
  margin-bottom: 50px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cod-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 50px;
}
.group-1{
  font-size: 50px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width:5%;
  border-width: 7px;
  border-color: #9cada4;
}

h1{
  color: #66BFBF;
  font-size: 5.5rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 2;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.myButton {
	box-shadow:inset 0 -3px 7px 0 #66BFBF;
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0 1px 0 #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
}
.myButton:active {
	position:relative;
	top:1px;
}
.profile{
  width: 50%;
  margin: 6.25 auto 6.25 auto;
  position: relative;
  left:400px;
  margin-bottom: 80px;
}
.profile-img{
  width: 25%
}
.skills{
  margin: 80px auto 150px auto;
}
.skill-row{
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
  line-height: 2;
}


.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 80px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
